<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заявки</title>
</head>
<body>
<style>
    .main{
        margin-left: 30px;
        margin-top: 10px;
        display: block;
    }
    .main-div{
        display: inline-block;
    }

</style>
<h1>Заявки</h1>
<div >

     <p class="main" >{{ doctor.data }} {{ doctor.time }} {{ doctor.name }} {{ doctor.surname }}</p>
        <table border="1">
            <tr>
                <td>
                     Дата
                </td>
                <td>
                    Время
                </td>
                <td>
                    ФИО
                </td>
              </tr>
                {% for doctor in appointments %}

                       <tr>
                <td>
                     {{ doctor.data }}
                </td>
                <td>
                  {{ doctor.time }}
                </td>
                <td>
                    {{ doctor.name }} {{ doctor.surname }}
                </td>
              </tr>

                {% endfor %}

        </table>



</div>
</body>
</html>